<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="/assets/css/micromodal.css">
    <link rel="stylesheet" href="/assets/css/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI="
          crossorigin="anonymous"/>
    <link rel="apple-touch-icon"
          sizes="57x57"
          href="/assets/img/favicon/apple-touch-icon-57x57.png?v=2">
    <link rel="apple-touch-icon"
          sizes="60x60"
          href="/assets/img/favicon/apple-touch-icon-60x60.png?v=2">
    <link rel="apple-touch-icon"
          sizes="72x72"
          href="/assets/img/favicon/apple-touch-icon-72x72.png?v=2">
    <link rel="apple-touch-icon"
          sizes="76x76"
          href="/assets/img/favicon/apple-touch-icon-76x76.png?v=2">
    <link rel="apple-touch-icon"
          sizes="114x114"
          href="/assets/img/favicon/apple-touch-icon-114x114.png?v=2">
    <link rel="apple-touch-icon"
          sizes="120x120"
          href="/assets/img/favicon/apple-touch-icon-120x120.png?v=2">
    <link rel="apple-touch-icon"
          sizes="144x144"
          href="/assets/img/favicon/apple-touch-icon-144x144.png?v=2">
    <link rel="apple-touch-icon"
          sizes="152x152"
          href="/assets/img/favicon/apple-touch-icon-152x152.png?v=2">
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="/assets/img/favicon/apple-touch-icon-180x180.png?v=2">
    <link rel="icon"
          type="image/png"
          href="/assets/img/favicon/favicon-32x32.png?v=2"
          sizes="32x32">
    <link rel="icon"
          type="image/png"
          href="/assets/img/favicon/android-chrome-192x192.png?v=2"
          sizes="192x192">
    <link rel="icon"
          type="image/png"
          href="/assets/img/favicon/favicon-96x96.png?v=2"
          sizes="96x96">
    <link rel="icon"
          type="image/png"
          href="/assets/img/favicon/favicon-16x16.png?v=2"
          sizes="16x16">
    <link rel="manifest" href="/assets/img/favicon/manifest.json?v=2">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg?v=2" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=2">
    <title>Visage | About</title>
    <meta name="description" content="Our team of crowdsourcing and AI expert.">
    <meta name="keywords"
          content="pricing, prices, price, plan, job, job credit, sourcing, source, junior, middle, senior">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WX69C8');</script>
    <!-- End Google Tag Manager -->
    <style type="text/css"></style>
</head>
<body>
<div class="modal micromodal-slide" id="demo-request" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <main id="demo-request-content" class="modal__content" >
                <div id="wufoo-z8kv0cc0ktfm9y">
                    Fill out my <a href="https://techvisage.wufoo.com/forms/z8kv0cc0ktfm9y">online
                    form</a>.
                </div>
            </main>
        </div>
    </div>
</div>
<nav id="navigation-menu" class="navigation-menu white-nav" js-navigation-menu>
    <div class="navigation-menu__container">
        <div class="navigation-menu__left">
            <a href="../index.html">
                <img class="navigation-menu__logo" src="../assets/img/logo-white.svg">
            </a>
            <ul class="navigation-menu__links hidden-sm">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../recruiters/index.html">Recruiters</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
        <div class="navigation-menu__links-cont" js-navbar-links>
            <ul class="navigation-menu__links">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../recruiters/index.html">Recruiters</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
        <div class="navigation-menu__right">
            <a class="btn-round btn-primary-dark hidden-sm"
               href="https://app.visage.jobs/login"
               aria-label="Sign Up">
                Sign Up
            </a>
            <a class="navigation-menu__toggle hidden-xl" js-navbar-toggle>
                &equiv;
            </a>
        </div>
    </div>
</nav>

{{#with about_hero}}
    <section id="about-hero" class="about-hero">
        <div class="hero-overlay"></div>
        <div class="about-hero__bg"></div>
        <div class="container about-container">
            <div class="about-hero__contents">
                <div class="about-hero__info">
                    <div class="about-hero__info-wrap">
                        <h1 class="about-hero__title">{{header}}</h1>
                        <a class="btn-round btn-primary-dark"
                           href="#"
                           aria-label="Contact us"
                           data-micromodal-trigger="demo-request">
                            Contact us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/with}}


{{#with about_showcase}}
    <section class="main-showcase">
        <div class="container">
            <div class="main-showcase__wrapper">
                <div class="main-showcase__demo-about">
                    <h2>{{header}}</h2>
                </div>
                <div class="main-showcase__info-about">
                    <div class="main-showcase__info-text">
                        <h2>{{subtitle}}</h2>
                        <p>{{copy}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/with}}


{{#with company_members}}
    <section class="members">
        <div class="container">
            <div class="members__header">
            </div>
            <div class="members__team">
                {{#each list_of_members}}
                    <div class="members__team-tile">
                        <div class="members__tile-img">
                            <img src="{{img_url}}">
                            <a class="members__tile-link" href="{{link}}">
                                <img src="../assets/img/linkedin-logo.svg">
                            </a>
                        </div>
                        <div class="members__tile-data">
                            <h3>{{name}}</h3>
                            <span>{{job}}</span>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="members-investors">
                {{#each list_of_investors}}
                    <div class="members-investors__tile">
                        <a class="members-investors__tile-img" href="{{link}}">
                            <img src="{{img_url}}">
                        </a>
                        <div class="members-investors__tile-data">
                            <h3>{{name}}</h3>
                            <span>{{job}}</span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
{{/with}}


{{#with footer}}
    <footer class="footer">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-left">
                    <img src="../assets/img/logo-gray.svg">
                    <h3>visage.jobs 2019</h3>
                    <span>visage.jobs 2019</span>
                    <span>Terms & conditions • Privacy Policy</span>
                </div>
                <div class="footer-right">
                    {{#each column}}
                        <div class="footer-right__col">
                            <span>{{header}}</span>
                            {{#each data}}
                                <a href="{{link}}">{{copy}}</a>
                            {{/each}}
                        </div>
                    {{/each}}

                    <div class="footer-right__col-spc">
                        <span>Contact Us</span>
                        <p>2nd Floor, 180 Sansome St, San Francisco, CA 94104</p>
                        <a>team@visage.jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{{/with}}

<script>
    window.intercomSettings = {
        app_id: "agueobs1"
    };
</script>

<script>(function () {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', w.intercomSettings);
    }
    else {
        var d = document;
        var i = function () {
            i.c(arguments);
        };
        i.q = [];
        i.c = function (args) {
            i.q.push(args);
        };
        w.Intercom = i;
        var l = function () {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://widget.intercom.io/widget/agueobs1';
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        };
        if (w.attachEvent) {
            w.attachEvent('onload', l);
        }
        else {
            w.addEventListener('load', l, false);
        }
    }
})();</script>
<script type="text/javascript">var z8kv0cc0ktfm9y;
(function (d, t) {
    var s = d.createElement(t), options = {
        'userName': 'techvisage',
        'formHash': 'z8kv0cc0ktfm9y',
        'autoResize': false,
        'height': '560',
        'async': true,
        'host': 'wufoo.com',
        'header': 'show',
        'ssl': true
    };
    s.src =
            ('https:' == d.location.protocol ? 'https://' : 'http://') +
            'secure.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function () {
        var rs = this.readyState;
        if (rs) {
            if (rs != 'complete') {
                if (rs != 'loaded') {
                    return;
                }
            }
        }
        try {
            z8kv0cc0ktfm9y = new WufooForm();
            z8kv0cc0ktfm9y.initialize(options);
            z8kv0cc0ktfm9y.display();
        }
        catch (e) {
        }
    };
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;
    par.insertBefore(s, scr);
})(document, 'script');</script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"
        type="text/javascript"
        charset="utf-8"></script>
<script>
    const $dom = {};
    $dom.navbar = document.querySelector('[js-navigation-menu]');
    console.log('NAVBAR', $dom.navbar.classList);

    window.addEventListener("scroll", function (event) {
        if (window.scrollY != 0) {
            if (!$dom.navbar.classList.contains('scrolled-dark')) {
                $dom.navbar.classList.add('scrolled-dark');
            }
        }
        else {
            if ($dom.navbar.classList.contains('scrolled-dark')) {
                $dom.navbar.classList.remove('scrolled-dark');
            }
        }
    }, false);

    (function () {
        let $ = document.querySelector.bind(document);
        let $dom = {};

        $dom.navbarLinks = $('[js-navbar-links]');
        $dom.navbarToggle = $('[js-navbar-toggle]');

        // Toggles the state of the mobile navbar
        let navbarToggle = () => {
            if ($dom.navbarLinks.classList.contains('is-shown')) {
                $dom.navbarLinks.classList.remove('is-shown')
            }
            else {
                $dom.navbarLinks.classList.add('is-shown')
            }
        };

        window.addEventListener('DOMContentLoaded', () => {
            $dom.navbarToggle.addEventListener('click', navbarToggle);
            MicroModal.init();
        });
    })();
</script>
</body>

</html>