<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="/assets/css/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI="
          crossorigin="anonymous"/>
    <link rel="apple-touch-icon"
          sizes="57x57"
          href="/assets/img/favicon/apple-touch-icon-57x57.png?v=2">
    <link rel="apple-touch-icon"
          sizes="60x60"
          href="/assets/img/favicon/apple-touch-icon-60x60.png?v=2">
    <link rel="apple-touch-icon"
          sizes="72x72"
          href="/assets/img/favicon/apple-touch-icon-72x72.png?v=2">
    <link rel="apple-touch-icon"
          sizes="76x76"
          href="/assets/img/favicon/apple-touch-icon-76x76.png?v=2">
    <link rel="apple-touch-icon"
          sizes="114x114"
          href="/assets/img/favicon/apple-touch-icon-114x114.png?v=2">
    <link rel="apple-touch-icon"
          sizes="120x120"
          href="/assets/img/favicon/apple-touch-icon-120x120.png?v=2">
    <link rel="apple-touch-icon"
          sizes="144x144"
          href="/assets/img/favicon/apple-touch-icon-144x144.png?v=2">
    <link rel="apple-touch-icon"
          sizes="152x152"
          href="/assets/img/favicon/apple-touch-icon-152x152.png?v=2">
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="/assets/img/favicon/apple-touch-icon-180x180.png?v=2">
    <link rel="icon"
          type="image/png"
          href="/assets/img/favicon/favicon-32x32.png?v=2"
          sizes="32x32">
    <link rel="icon"
          type="image/png"
          href="/assets/img/favicon/android-chrome-192x192.png?v=2"
          sizes="192x192">
    <link rel="icon"
          type="image/png"
          href="/assets/img/favicon/favicon-96x96.png?v=2"
          sizes="96x96">
    <link rel="icon"
          type="image/png"
          href="/assets/img/favicon/favicon-16x16.png?v=2"
          sizes="16x16">
    <link rel="manifest" href="/assets/img/favicon/manifest.json?v=2">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg?v=2" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=2">
    <title>Visage | Make money sourcing candidates</title>
    <meta name="description" content="Visage allows you to make money searching for candidates.">
    <meta name="keywords"
          content="recruiters, recruiting, sourcing recruiter, cash, money, referral, refer candidates, referrals, freelance, freelances">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WX69C8');</script>
    <!-- End Google Tag Manager -->
    <style type="text/css"></style>
</head>
<body>
<nav id="navigation-menu" class="navigation-menu" js-navigation-menu>
    <div class="navigation-menu__container">
        <div class="navigation-menu__left">
            <a href="../index.html">
                <img class="navigation-menu__logo" src="../assets/img/logo.svg">
            </a>
            <ul class="navigation-menu__links hidden-sm">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="#">Recruiters</a>
                </li>
                <li>
                    <a href="../about/index.html">About</a>
                </li>
            </ul>
        </div>
        <div class="navigation-menu__links-cont" js-navbar-links>
            <ul class="navigation-menu__links">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="#">Recruiters</a>
                </li>
                <li>
                    <a href="../about/index.html">About</a>
                </li>
                <li>
                    <a href="../pricing/index.html">Pricing</a>
                </li>
            </ul>
        </div>
        <div class="navigation-menu__right">
            <a class="btn-round btn-primary-dark hidden-sm"
               href="https://app.visage.jobs/login"
               aria-label="Sign Up">
                Sign Up
            </a>
            <a class="navigation-menu__toggle hidden-xl" js-navbar-toggle>
                &equiv;
            </a>
        </div>
    </div>
</nav>

{{#with recruiter_hero}}
    <section id="recruiter-hero" class="recruiter-hero">
        <div class="recruiter-hero__container">
            <div class="recruiter-hero__bg"></div>
            <h2 class="recruiter-hero__title">{{header}}</h2>
            <a class="btn-round btn-primary-dark recruiter-hero__btn"
               href="https://app.visage.jobs/login"
               aria-label="Sign up">
                SIGN UP
            </a>
            <div class="recruiter-hero__img">
                <img src="../assets/img/recruiters-mockup.png">
            </div>
        </div>
    </section>
{{/with}}

{{#with about_showcase}}
    <section class="main-showcase">
        <div class="container">
            <div class="main-showcase__wrapper">
                <div class="main-showcase__demo-about">
                    <h2>{{header}}</h2>
                </div>
                <div class="main-showcase__info-about">
                    <div class="main-showcase__info-text">
                        <h2>{{subtitle}}</h2>
                        <p>{{copy}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/with}}

{{#with recruiter_features}}
    <section class="recruiter-features">
        <div class="container">
            <div class="recruiter-features__wrapper">
                <div class="recruiter-features__left">
                    <h2>{{header}}</h2>
                    <hr class="header-hr">
                </div>
                <div class="recruiter-features__center">
                    <img src="../assets/img/mobile-mockup.png">
                </div>
                <div class="recruiter-features__right">
                    {{#each list_of_features}}
                        <div class="recruiter-features__item">
                            <div class="recruiter-features__item-img">
                                <img src="{{img_url}}">
                            </div>
                            <div class="recruiter-features__item-copy">
                                <h4>{{title}}</h4>
                                <p>{{copy}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
{{/with}}

{{#with recruiting_fees}}
    <section class="recruiting-fees">
        <div class="container">
            <div class="recruiting-fees__wrapper">
                <div class="recruiting-fees__header">
                    <h2>{{header}}</h2>
                </div>
                <div class="recruiting-fees__copy">
                    <p>{{copy}}</p>
                </div>
            </div>
        </div>
    </section>
{{/with}}

{{#with homepage_features}}
    <section id="features-showcase" class="features-showcase bg-light-gray">
        <div class="container">
            <div class="features-showcase__head">
                <h2 class="features-showcase__title">Join out amazing recruiting sourcers
                    community</h2>
                <div class="features-showcase__statement-wrapper">
                    <a class="btn-round btn-primary-dark"
                       href="https://app.visage.jobs/login"
                       aria-label="Sign up">
                        SIGN UP
                    </a>
                </div>
            </div>
            <div class="features-showcase__contents" js-features-slider>
                {{#each list_of_features}}
                    <div class="features-showcase__tile-wrap">
                        <div class="features-showcase__tile">
                            <span class="features-showcase__tile-number">{{number}}</span>
                            <img class="features-showcase__tile-icon" src="{{icon_url}}">
                            <h3 class="features-showcase__tile-title">{{title}}</h3>
                            <p class="features-showcase__tile-copy">{{copy}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
{{/with}}

{{#with recruiter_specs}}
    <section class="recruiter-specs">
        <div class="">
            <div class="recruiter-specs__wrapper">
                <div class="recruiter-specs__left">
                    <img src="../assets/img/img-freelancer.jpg">
                </div>
                <div class="recruiter-specs__right">
                    <div class="recruiter-specs__copy-title">
                        <h4>{{header}}</h4>
                    </div>
                    <div class="recruiter-specs__items-wrap">
                        {{#each list_of_features}}
                            <div class="recruiter-specs__item">
                                <div class="recruiter-specs__item-img">
                                    <img src="{{img_url}}">
                                </div>
                                <div class="recruiter-specs__item-copy">
                                    <h4>{{title}}</h4>
                                    <p>{{copy}}</p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/with}}

{{#with accordion}}
    <section class="faq">
        <div class="container">
            <div class="faq__wrapper">
                <div class="faq__accordion">
                    {{#each panel}}
                        <button class="accordion">{{out}}</button>
                        <div class="panel">
                            <p>{{in}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
{{/with}}


{{#with footer}}
    <footer class="footer">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-left">
                    <img src="../assets/img/logo-gray.svg">
                    <h3>visage.jobs 2019</h3>
                    <span>visage.jobs 2019</span>
                    <span>Terms & conditions • Privacy Policy</span>
                </div>
                <div class="footer-right">
                    {{#each column}}
                        <div class="footer-right__col">
                            <span>{{header}}</span>
                            {{#each data}}
                                <a href="{{link}}">{{copy}}</a>
                            {{/each}}
                        </div>
                    {{/each}}

                    <div class="footer-right__col-spc">
                        <span>Contact Us</span>
                        <p>2nd Floor, 180 Sansome St, San Francisco, CA 94104</p>
                        <a>team@visage.jobs</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{{/with}}


<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0="
        crossorigin="anonymous"></script>
<script>
    window.intercomSettings = {
        app_id: "agueobs1"
    };
</script>

<script>(function () {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
        ic('reattach_activator');
        ic('update', w.intercomSettings);
    }
    else {
        var d = document;
        var i = function () {
            i.c(arguments);
        };
        i.q = [];
        i.c = function (args) {
            i.q.push(args);
        };
        w.Intercom = i;
        var l = function () {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://widget.intercom.io/widget/agueobs1';
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        };
        if (w.attachEvent) {
            w.attachEvent('onload', l);
        }
        else {
            w.addEventListener('load', l, false);
        }
    }
})();</script>
<script>

    const $dom = {};
    $dom.navbar = document.querySelector('[js-navigation-menu]');
    console.log('NAVBAR', $dom.navbar.classList);

    window.addEventListener("scroll", function (event) {
        if (window.scrollY != 0) {
            if (!$dom.navbar.classList.contains('scrolled')) {
                $dom.navbar.classList.add('scrolled');
            }
        }
        else {
            if ($dom.navbar.classList.contains('scrolled')) {
                $dom.navbar.classList.remove('scrolled');
            }
        }
    }, false);
</script>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            }
            else {
                panel.style.display = "block";
            }
        });
    }
    (function () {
        let $ = document.querySelector.bind(document);
        let $dom = {};

        $dom.navbarLinks = $('[js-navbar-links]');
        $dom.navbarToggle = $('[js-navbar-toggle]');

        // Toggles the state of the mobile navbar
        let navbarToggle = () => {
            if ($dom.navbarLinks.classList.contains('is-shown')) {
                $dom.navbarLinks.classList.remove('is-shown')
            }
            else {
                $dom.navbarLinks.classList.add('is-shown')
            }
        };

        window.addEventListener('DOMContentLoaded', () => {
            $dom.navbarToggle.addEventListener('click', navbarToggle);
        });
    })();
</script>
</body>

</html>